esim1/build/
esim1/*.user
esim2/build/
esim2/*.user
esim3/build/
esim3/*.user
esim4/build/
esim4/*.user
esim5/build/
esim5/*.user
esim6/build/
esim6/*.user
esim_2_1/build/
esim_2_1/*.user
esim_2_2/build/
esim_2_2/*.user
esim_2_3/build/
esim_2_3/*.user
esim_2_4/build/
esim_2_4/*.user
esim_2_5/build/
esim_2_5/*.user
esim_2_6/build/
esim_2_6/*.user
esim_2_7/build/
esim_2_7/*.user
esim_2_8/build/
esim_2_8/*.user
esim_2_9/build/
esim_2_9/*.user

esim_3_1/build/
esim_3_1/*.user
esim_3_2/build/
esim_3_2/*.user
esim_3_3/build/
esim_3_3/*.user
esim_3_4/build/
esim_3_4/*.user
esim_3_5/build/
esim_3_5/*.user
esim_3_6/build/
esim_3_6/*.user
esim_3_7/build/
esim_3_7/*.user

esim_4_1/build/
esim_4_1/*.user
esim_4_2/build/
esim_4_2/*.user
esim_4_3/build/
esim_4_3/*.user
esim_4_4/build/
esim_4_4/*.user

vk_3_4/build/
vk_3_4/*.user
vk_3_5/build/
vk_3_5/*.user
vk_3_6/build/
vk_3_6/*.user

esim_5_1/build/
esim_5_1/*.user
esim_5_2/build/
esim_5_2/*.user
esim_5_3/build/
esim_5_3/*.user
esim_5_4/build/
esim_5_4/*.user

esim_6_1/build/
esim_6_1/*.user
esim_6_2/build/
esim_6_2/*.user
esim_6_3/build/
esim_6_3/*.user
esim_6_4/build/
esim_6_4/*.user

vk_4_5/build/
vk_4_5/*.user
vk_4_7/build/
vk_4_7/*.user
vk_4_8/build/
vk_4_8/*.user

esim_7_1/build/
esim_7_1/*.user
esim_7_2/build/
esim_7_2/*.user
esim_7_3/build/
esim_7_3/*.user
esim_7_4/build/
esim_7_4/*.user