esim1/build/
esim1/*.user

esim2/build/
esim2/*.user

esim3/build/
esim3/*.user

esim4/build/
esim4/*.user

esim5/build/
esim5/*.user

esim6/build/
esim6/*.user

esim_2_1/build/
esim_2_1/*.user

esim_2_2/build/
esim_2_2/*.user

esim_2_3/build/
esim_2_3/*.user

esim_2_4/build/
esim_2_4/*.user
